@mixin small-phone {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin phone {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin tablet-portrait {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media screen and (min-width: 992px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin absolute-zero($z-index: 0) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-index;
}

@mixin flex-row-align($align: center) {
  display: flex;
  align-items: $align;
}

@mixin flex-row-content-align($align: center, $justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align;
}

@mixin flex-column-center($align-items: center, $justify-content: center) {
  display: flex;
  flex-direction: column;
  align-items: $align-items;
  justify-content: $justify-content;
}
// My mixines


@mixin animation-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 258px;
  height: 258px;
  .navi {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .pubg {
    position: absolute;
    left: -50px;
    top: -42px;
    z-index: 0;
    animation-delay: 1s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: top-animation;
  }
  .cs {
    position: absolute;
    right: -80px;
    top: -80px;
    z-index: 0;
    animation-delay: 1.6s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: top-animation;
  }
  .fortnite {
    position: absolute;
    right: -60px;
    bottom: -60px;
    z-index: 0;
    animation-delay: 2.2s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: bottom-animation;
  }
  .dota {
    position: absolute;
    left: -62px;
    bottom: -70px;

    animation-delay: 2.8s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: bottom-animation;
    z-index: 0;
  }
}

@mixin phone-animation-block {
  .navi {
    left: 50%;
    top: 50%;
    width: 150px;
  }
  .pubg,
  .cs,
  .fortnite,
  .dota {
    width: 90px;
  }
  .pubg {
    left: 10px;
    top: 10px;
  }
  .cs {
    right: 10px;
    top: 10px;
  }
  .fortnite {
    right: 10px;
    bottom: -2px;
  }
  .dota {
    left: 5px;
    bottom: 2px;
  }
}

@mixin phone420 {
  @media (max-width: "420px") {
    @content;
  }
}

@mixin table890 {
  @media (max-width: "890px") {
    @content;
  }
}

@mixin desktop1110 {
  @media (max-width: "1110px") {
    @content;
  }
}
