@import "../../../../assets/scss/utils/mixines";
@import "../../../../assets/scss/pages/authPage";

.forgot-password-wrapper {
  @include auth-wrapper;
  & > .left-side {
    & > .signup-form {
      & > .auth-submit {
        margin-top: 40px;
        margin-bottom: 20px;
      }
      & > .auth-submit {
        &.bg-gray {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
  @include desktop1110 {
    width: 100%;
    margin: 20px;
    align-items: center;
    margin: auto;
    & > .left-side {
      order: 1;
      width: 100%;
      padding: 20px;
    }
    & > .right-side {
      order: 2;
      width: 100%;
      border-radius: 10px;
    }
  }
  @include IpadPro1024 {
    position: relative;
    left: 0;
    transform: translate(0, 0);
    height: auto;
    flex-direction: column;
    padding: 30px;
    & > .left-side {
      order: 2;
      width: 100%;
      height: auto;
      & > .continue-border {
        p {
          width: 100%;
          text-align: center;
          &::before {
            width: 20%;
            left: 30px;
          }
          &::after {
            width: 20%;
            right: 30px;
          }
        }
      }
      & > .signin-form {
        .submit {
          width: 100%;
        }
      }
      border-radius: 0;
    }
    & > .right-side {
      order: 1;
      width: 100%;
      height: 100vh;
      border-radius: 0 0 10px 10px;
    }
  }
  @include table890 {
    position: relative;
    border-radius: 0;
    left: 0;
    transform: translate(0, 0);
    height: auto;
    flex-direction: column;
    padding: 0;
    & > .left-side {
      order: 2;
      width: 100%;
      height: auto;
      & > .continue-border {
        & > p {
          width: 100%;
          text-align: center;
          &::before {
            width: 20%;
            left: 30px;
          }
          &::after {
            width: 20%;
            right: 30px;
          }
        }
      }
      & > .signin-form {
        .submit {
          width: 100%;
        }
      }
      border-radius: 0;
    }
    & > .right-side {
      order: 1;
      width: 100%;
      height: 100vh;
      border-radius: 0 0 10px 10px;
    }
  }
  @include phone420 {
    height: auto;
    & > .left-side {
      & > .continue-border {
        & > p {
          &::before {
            width: 20%;
            left: 20px;
          }
          &::after {
            width: 20%;
            right: 20px;
          }
        }
      }
    }
    & > .right-side {
      padding: 10px;
      & > .top-group {
        & > .title {
          font-size: 26px;
        }
        & > .text {
          font-size: 16px;
        }
      }
      & > .animation-block {
        @include phone-animation-block;
      }
    }
  }
}
