@import "../../../../assets/scss/pages/authPage";
@import "../../../../assets//scss//utils/variables";

.input-label {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  height: 62px;
  margin-bottom: 25px;
  color: $input_text_color;

  .check {
    position: absolute;
    top: 37px;
    right: 10px;
    fill: none;
    transform: translate(0, 9px) scale(0);
    transition: all 0.3s cubic-bezier(0.5, 0.9, 0.25, 1.3);
    transition-delay: 0.15s;
    path {
      stroke: gray;
      stroke-width: 2;
    }
  }
  .invalid-check {
    position: absolute;
    top: 37px;
    right: 10px;
    g {
      fill: none;
    }
    transform: translate(0, 9px) scale(0);
    transition: all 0.3s cubic-bezier(0.5, 0.9, 0.25, 1.3);
    transition-delay: 0.15s;
  }
  .tooltip {
    @include tooltip;
  }
  input {
    @include input-style;
    @include input-style-effects;
  }
}
