@import "../../../../assets/scss/utils/variables";
@import "../../../../assets//scss/pages/authPage.scss";

.right-side {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: $right_bg;
  border-radius: 0 20px 20px 0;
  padding: 30px 50px;
  & > .top-group {
    position: relative;
    height: 80px;
    .title {
      display: block;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      color: #ffffff;
    }
    .text {
      position: absolute;
      bottom: 0;
      display: block;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      color: #868ba0;
    }
  }
  & > .link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    color: #82869a;
    line-height: 190%;
    text-align: center;
    width: 100%;
    a {
      color: #f0ae4b;
      text-decoration: none;
      padding-bottom: 3px;
      transition: all 100ms ease-out;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid #f0ae4b;
      }
    }
  }
  & > .animation-block {
    @include animation-block;
  }
}
